:root {
    --color-1: #2c3e50;
    --color-2: #1abc9c;
    --color-3: #2ecc71;
    --base-duration: 500ms;
}


html {
    font-family: "orbitron", sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    line-height: 1.5;
    color: #444;
}


body {
    background-image: url("../Images/BannerPenguin.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-size: 100vw auto;
    overflow-x: hidden;
}


ul {
    display: flex;
    flex-direction: row;
    align-items: start;
    list-style-type: none;
    justify-content: space-between;
    margin-right: 90px;
    margin-left: 90px;
}

ul li {
    padding: 6px 0;
}

ul li a {
    position: relative;
    display: block;
    padding: 4px 0;
    font-family: 'Lato', sans-serif;
    color: #ecf0f1;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

ul li a::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

ul li a:hover {
    color: #6942f5;
}

ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


figure {
    top: 370px;
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 390px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    margin-right: 20px;
}

figure:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

figure:hover h1 {
    opacity: 0;
    transform: scale(0.7);
}

figure:hover img {
    transform: scale(1.25);
}

figure:hover figcaption {
    bottom: 0;
}

h1 {
    position: absolute;
    top: 50px;
    left: 20px;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 25px;
    font-weight: 100;
    line-height: 1;
    opacity: 1;
    transform: scale(1);
    transition: 0.25s ease;
    z-index: 999;
}

img {
    height: 100%;
    transition: 0.25s;
}

figcaption {
    position: absolute;
    bottom: -34%;
    left: 2;
    width: 100%;
    margin: 0;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    color: white;
    line-height: 1;
    transition: 0.25s;
}

figcaption h3 {
    margin: 0 0 20px;
    padding: 0;
}

figcaption p {
    margin-left: -10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.75;
    max-height: calc(100% - 60px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

figcaption button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0;
    padding: 10px 30px;
    background-color: var(--color-2);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}