body {
    background-image: url("../Images/BannerPenguin.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-size: 100vw auto;
}

.navigation {
    background-color: rgba(0, 0, 0, 0.5);
}

h2.h2_custom {
    margin-top: var(--h2-margin-top, 100px);
    color: var(--h2-color, black);
}

h1 {
    position: fixed;
    font-size: 32px;
    font-weight: bold;
    color: #333;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}


ul {
    display: flex;
    flex-direction: row;
    align-items: start;
    list-style-type: none;
    justify-content: space-between;
    margin-right: 90px;
    margin-left: 90px;
}

ul li {
    padding: 6px 0;
}

ul li a {
    position: relative;
    display: block;
    padding: 4px 0;
    font-family: 'Lato', sans-serif;
    color: #ecf0f1;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

ul li a::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

ul li a:hover {
    color: #6942f5;
}

ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}